.menu {
  position: absolute;

  /* Trying to achieve smoother animation */
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;s
  -webkit-backface-visibility: hidden;
	z-index: 200;

	overflow: hidden;

}

.menu-left, .menu-right {
  top: 0px;
  height: 100%;
}

.menu-bottom {
  width: 100%;
  bottom: 0px;
}

.menu .mHeader {
	width: 100%;
	height: auto;
	background: #32374B;
	padding: 20px;
}

.menu .mHeader h1 {
		font-weight: 300;
}
