*{
	margin: 0;
	padding: 0;
	border: 0;
}

@font-face {
	font-family: 'weather';
	src: url('../fonts/artill_clean_icons.otf');
	font-weight: normal;
	font-style: normal;
}

html{

	background: url("../img/bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	font-family: Roboto;
	color: white;
}

body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
}

/*
	MENU
*/

#menuButtons{
	position: absolute;
	right: 20px;
}

i.menuButton{
	font-size: 22pt;
	text-shadow: 0px 0px 8px black;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}


/*
	CLOCK
*/

#clock{
	padding-top: 15%;
	margin: auto;
	text-align: center;
}


h1.clock{
	font-family: Roboto, "Arial Black";
	font-size: 90pt;
	text-shadow: 0px 0px 15px black;
}

h3.clock{
	font-family: Roboto, Arial;
	font-weight: 300;
	font-size: 46pt;
	text-shadow: 0px 0px 10px black;
}

/*
	Ruter Realtime
*/

#transportLine{
	padding-left: 15px;
	padding-top: 15px;
	height: 50px;
}

.metroLine{
	font-size: 18pt;
	font-weight: 900;
	height: 30px;
	width: 30px;
	background-color: red;
	/*border-radius: 20px;*/

	text-align: center;

	float: left;

	color: white;
}

.metroLine.line3{
	background-color: #f9a51b;
}

.metroLine.line4{
	background-color: #07509d;
}

.metroLine.line3{
	background-color: #f9a51b;
}

.metroText{
	color: black;

	padding-top: 5px;
	padding-left: 5px;

	float: left;
}

/*
	WEATHER
*/
#weather {
	position: absolute;
	left: 20px;
	margin-top: 20px;

	text-align: center;
}

#weather h2 {
	font-family: Roboto;
	margin: 0 0 8px;
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	text-shadow: 0px 0px 15px black;
	line-height: 30px;
}

span.weatherDesc{
	font-family: Roboto;
	font-weight: 300;
	font-size: 12pt;
	text-shadow:0px 0px 15px black;
}

.weathericon{
	font-family: weather;
	font-size: 42pt;
	font-style: normal;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "1"; }
.icon-2:before { content: "2"; }
.icon-3:before { content: "A"; }
.icon-4:before { content: "3"; }
.icon-5:before { content: "F"; }
.icon-6:before { content: "R"; }
.icon-7:before { content: "L"; }
.icon-8:before { content: "H"; }
.icon-9:before { content: "G"; }
.icon-10:before { content: "U"; }
.icon-11:before { content: "S"; }
.icon-12:before { content: "M"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "S"; }
.icon-15:before { content: "D"; }
.icon-16:before { content: "P"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "P"; }
.icon-21:before { content: "R"; }
.icon-22:before { content: "S"; }
.icon-23:before { content: "S"; }
.icon-24:before { content: "S"; }
.icon-25:before { content: "S"; }
.icon-26:before { content: "S"; }
.icon-27:before { content: "P"; }
.icon-28:before { content: "S"; }
.icon-29:before { content: "P"; }
.icon-30:before { content: "S"; }
.icon-31:before { content: "S"; }
.icon-32:before { content: "P"; }
.icon-33:before { content: "S"; }
.icon-34:before { content: "P"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "L"; }
.icon-41:before { content: "F"; }
.icon-42:before { content: "L"; }
.icon-43:before { content: "J"; }
.icon-44:before { content: "H"; }
.icon-45:before { content: "H"; }
.icon-46:before { content: "G"; }
.icon-47:before { content: "M"; }
.icon-48:before { content: "O"; }
.icon-49:before { content: "I"; }
.icon-50:before { content: "I"; }
